<div class="container-fluid">
  <div class="row top-box">
    <!-- desktop-view start -->
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 desktop-view">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
      <div class="row-2">

        <span class="d-flex align-items-center">
          <h2 class="head-1 mx-2">QA ENGINEER</h2>
          <h2 class="borders mx-2">|</h2>
          <h3 class=" head-2">10206</h3>
          <mat-icon class="material-symbols-outlined mx-2">
            home
          </mat-icon>
          <mat-icon class="material-symbols-outlined mx-2">
            home
          </mat-icon>
          <mat-icon class="material-symbols-outlined mx-2">
            home
          </mat-icon>
        </span>

      </div>


      <div class="row-3 d-flex align-items-center ps-1 my-1">

        <span class="d-flex me-4">
          <mat-icon class="material-symbols-outlined">location_on</mat-icon>
          <p class="mx-2 ">Pune</p>
        </span>
        <span class="d-flex me-4">
          <mat-icon class="material-symbols-outlined">work</mat-icon>
          <p class="mx-2">5-6 years</p>
        </span>
        <span class="d-flex me-4">
          <mat-icon class="material-symbols-outlined">domain</mat-icon>
          <p class="mx-2 ">Engineering</p>
        </span>

        <span class="d-flex me-4">
          <p class="borders"><span class="mx-2">Open Position : <strong>4</strong></span> <span class="mx-2">Created On
              : <strong>26 Oct 2022</strong></span></p>


        </span>

      </div>


      <div class="row-4 d-flex  ps-2 my-1">
        <!-- <span> -->
        <p class="me-4 d-flex borders align-items-center"><span class="mx-2">Quick Action:</span> <span
            class="d-flex me-4 mx-5">
            <mat-icon class="material-symbols-outlined">location_on</mat-icon>
          </span> <span class="d-flex me-4">
            <mat-icon class="material-symbols-outlined">work</mat-icon>
          </span>
          <span class="d-flex me-4">
            <mat-icon class="material-symbols-outlined">domain</mat-icon>
          </span> <span class="d-flex me-4">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </span>
        </p>





        <span class="d-flex me-4 align-items-center">
          <mat-icon class="material-symbols-outlined mx-2">chat</mat-icon>
          <span>Notes(6)</span>
        </span>
        <!-- </span> -->
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12  layout-row desktop-view my-4" style="text-align: end;">
      <!-- <h1>Hello World 2</h1> -->
      <div class="dropdown">
        <mat-icon class="material-symbols-outlined">
          arrow_back_ios
        </mat-icon>
        <mat-form-field appearance="outline" class="border-drop">
          <mat-label class="border-drop">10204 | QA Engineer</mat-label>
          <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="material-symbols-outlined">
          arrow_forward_ios
        </mat-icon>
      </div>

      <div>
        <span class="d-flex justify-content-end">

          <span class="mx-2">
            <p class="box-shadow"><mat-icon class="material-symbols-outlined ">
                search
              </mat-icon></p>
          </span>
          <span class="mx-2">
            <p class="back-gray">1600</p>
            <p class="textcenter">Profiles</p>
          </span>
          <span class="mx-2">
            <p class="back-gray">100</p>
            <p class="textcenter">Shortlists</p>
          </span>
          <span class="mx-2">
            <p class="back-gray">22</p>
            <p class="textcenter">Interviews</p>
          </span>
          <span class="mx-2">
            <p class="back-gray">10</p>
            <p class="textcenter">offers</p>
          </span>
          <span class="mx-2">
            <p class="back-gray">1</p>
            <p class="textcenter">joined</p>
          </span>
        </span>
      </div>

    </div>
    <!-- desktop-view end -->

    <!-- mobile-view start -->
    <div class="mobile-view">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <span class="d-flex align-items-center">
            <h2 class="head-1 mx-2">QA ENGINEER</h2>
            <h2 class="borders mx-2">|</h2>
            <h3 class=" head-2">10206</h3>
            <mat-icon class="material-symbols-outlined mx-2">
              home
            </mat-icon>
            <mat-icon class="material-symbols-outlined mx-2">
              home
            </mat-icon>
            <mat-icon class="material-symbols-outlined mx-2">
              home
            </mat-icon>
          </span>

        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-4">
          <div class="dropdown">
            <mat-icon class="material-symbols-outlined">
              arrow_back_ios
            </mat-icon>
            <mat-form-field appearance="outline" class="border-drop">
              <mat-label class="border-drop">10204 | QA Engineer</mat-label>
              <mat-select>
                <mat-option>Clear</mat-option>
                <mat-option value="valid">Valid option</mat-option>
                <mat-option value="invalid">Invalid option</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon class="material-symbols-outlined">
              arrow_forward_ios
            </mat-icon>
          </div>
        </div>
      </div>
      <div class="row  align-items-center ps-1 my-1">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex">
          <span class="d-flex me-5">
            <mat-icon class="material-symbols-outlined">location_on</mat-icon>
            <p class="mx-2 ">Pune</p>
          </span>
          <span class="d-flex me-4">
            <mat-icon class="material-symbols-outlined">work</mat-icon>
            <p class="mx-2">5-6 years</p>
          </span>

        </div>
        <div class="row  align-items-center ps-1 my-1">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

            <span class="d-flex me-4 mx-2">
              <mat-icon class="material-symbols-outlined">domain</mat-icon>
              <p class="mx-2 ">Engineering</p>
            </span>
          </div>
        </div>
        <div class="row  align-items-center ps-1 my-1">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
            <span class=" me-4">
              <p class="borders"><span class="fontsize mx-2">Open Position : <strong class="fontsize">4</strong></span>
                <span class="mx-2 fontsize">Created On : <strong class="fontsize">26 Oct 2022</strong></span>
              </p>
            </span>
          </div>
        </div>
        <div class="row align-items-center ps-1 my-1">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex">
            <span class="mx-2">
              <p class="back-gray">1600</p>
              <p class="textcenter">Profiles</p>
            </span>
            <span class="mx-2">
              <p class="back-gray">100</p>
              <p class="textcenter">Shortlists</p>
            </span>
            <span class="mx-2">
              <p class="back-gray">22</p>
              <p class="textcenter">Interviews</p>
            </span>
            <span class="mx-2">
              <p class="back-gray">10</p>
              <p class="textcenter">offers</p>
            </span>
            <span class="mx-2">
              <p class="back-gray">1</p>
              <p class="textcenter">joined</p>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 ">
            <p class=" d-flex borders align-items-center"><span class="mx-2 fontsize-1">Quick Action:</span> <span
                class="d-flex me-3">
                <mat-icon class="material-symbols-outlined">location_on</mat-icon>
              </span> <span class="d-flex me-3">
                <mat-icon class="material-symbols-outlined">work</mat-icon>
              </span>
              <span class="d-flex me-3">
                <mat-icon class="material-symbols-outlined">domain</mat-icon>
              </span> <span class="d-flex me-3">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
              </span>
            </p>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ">
            <p class="box-shadow"><mat-icon class="material-symbols-outlined serch-iconss">
                search
              </mat-icon></p>
          </div>
        </div>
        <!-- </span> -->
        <div class="row p-0">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-end p-0">
            <span class="d-flex align-items-center">
              <mat-icon class="material-symbols-outlined mx-2">chat</mat-icon>
              <span>Notes(6)</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile-view end -->
    <div class="col-lg-4">
      <mat-tab-group [(selectedIndex)]="selectedTab" (selectedIndexChange)="tabChanged($event)">
        <mat-tab label="Tab 1"></mat-tab>
        <mat-tab label="Tab 2"></mat-tab>
        <mat-tab label="Tab 3"></mat-tab>
        <mat-tab label="Tab 4"></mat-tab>
        <mat-tab label="Tab 5"></mat-tab>
        <mat-tab label="Tab 6"></mat-tab>
      </mat-tab-group>

    </div>
  </div>





  <div class="content-container">
    <div class="content" [hidden]="selectedTab !== 0">
      Content for Tab 1
    </div>
    <div class="content" [hidden]="selectedTab !== 1">
      Content for Tab 2
    </div>
    <div class="content" [hidden]="selectedTab !== 2">
      Content for Tab 3
    </div>
    <div class="content" [hidden]="selectedTab !== 3">
      Content for Tab 4
    </div>
    <div class="content" [hidden]="selectedTab !== 4">
      Content for Tab 5
    </div>
    <div class="content" [hidden]="selectedTab !== 5">
      Content for Tab 6
    </div>
  </div>

</div>